<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastrar Carro</title>
</head>
<body>
    <h1>Cadastrar Carro:</h1>
    <form action="/carros" method="POST">
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" required>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>
        <label for="ano">Ano:</label>
        <input type="text" id="ano" name="ano" required>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" required>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
